/* 
- Mobile: 375px
- Desktop: 1440px

Heading:
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

Body:
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400


*/

:root {
  --violet: #674baf;
  --pink: #e882e8;
  --dark-pink: #ff52c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--violet);
  background-image: url("images/bg-desktop.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 190rem;
  padding: 0 3.2rem;
}

header {
  margin-top: 5rem;
  margin-bottom: 9rem;
}
/* INTRO SECTION */
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.intro-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: white;
  margin-bottom: 2.4rem;
}

.intro-p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
  justify-self: center;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.intro-illustration {
  width: 50%;
}
/* REGISTER BUTTON */
.btn-register {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: var(--violet);
  border: none;
  border-radius: 2.8rem;
  width: 20rem;
  height: 5.6rem;

  box-shadow: 0.2rem 0.2rem 1.8rem rgba(0, 0, 0, 0.397);
  transition: all 0.3s;
}
.btn-register:hover {
  color: white;
  background-color: var(--pink);
  cursor: pointer;
}

/* FOOTER SEC */
.footer-icon {
  display: flex;
  gap: 1.4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-30%, -50%);
}

.footer-socials {
  width: 4rem;
  height: 4rem;
  color: white;
}

.footer-socials:hover {
  color: var(--dark-pink);
  cursor: pointer;
}

@media only screen and (max-width: 63em) {
  html {
    font-size: 43.7%;
  }

  main {
    margin-bottom: 10rem;
  }

  body {
    background-image: url("images/bg-mobile.svg");
    background-size: cover;
    background-position: center;
  }

  .intro {
    flex-direction: column;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .intro-heading {
    text-align: center;
  }

  .intro-p {
    text-align: center;
    width: 65%;
  }

  .btn-register {
    width: 28rem;
  }

  .intro-illustration {
    width: 100%;
  }

  /* FOOTER */
  .footer-icon {
    justify-content: center;
    right: auto;
    bottom: auto;
    transform: translate(0, 0);
    position: static;
  }
}
